{{ 'section-most-popular.css' | asset_url | stylesheet_tag }}

<section class="popular">
    <div class="popular-content">
      <div class="wrapper">
        <div class="title flex-between page-width">
          <h2>{{section.settings.popular_title}}</h2>
          <div class="arrows flex-between">
            <div class="slider-prev showcaseSlider-prev"><svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="30" cy="30" r="30" fill="#F5F5F5"/><path d="M14.2929 30.7071C13.9024 30.3166 13.9024 29.6834 14.2929 29.2929L20.6569 22.9289C21.0474 22.5384 21.6805 22.5384 22.0711 22.9289C22.4616 23.3195 22.4616 23.9526 22.0711 24.3431L16.4142 30L22.0711 35.6569C22.4616 36.0474 22.4616 36.6805 22.0711 37.0711C21.6805 37.4616 21.0474 37.4616 20.6569 37.0711L14.2929 30.7071ZM45 31H15V29H45V31Z" fill="#1EA8DD"/></svg></div>
            <div class="slider-next showcaseSlider-next"><svg width="60" height="60" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="30" cy="30" r="30" fill="#F5F5F5"/><path d="M45.7071 30.7071C46.0976 30.3166 46.0976 29.6834 45.7071 29.2929L39.3431 22.9289C38.9526 22.5384 38.3195 22.5384 37.9289 22.9289C37.5384 23.3195 37.5384 23.9526 37.9289 24.3431L43.5858 30L37.9289 35.6569C37.5384 36.0474 37.5384 36.6805 37.9289 37.0711C38.3195 37.4616 38.9526 37.4616 39.3431 37.0711L45.7071 30.7071ZM15 31H45V29H15V31Z" fill="#1EA8DD"/></svg></div>
          </div>
        </div>
        <div class="swiper">
            <div class="swiper-wrapper">

            {% for block in section.blocks %}
                <div class="swiper-slide">
                  <div class="item">
                    <div class="photo"><a href="/"><img src="{{ block.settings.image | img_url: "master"}}" alt=""></a></div>
                    <div class="description">
                      <div class="label flex-between">
                        <a href="/">
                          <h4>{{block.settings.title}}</h4>
                        </a>
                        <a href="/" class="adaptive-description-text">
                          <p>{{ block.settings.text }}</p>
                        <a>
                        <a href="/">
                          <div class="banner-button">{{block.settings.button_text}}</div>
                        </a>
                      </div>
                      <a href="/" class="description-text">
                        <p>{{ block.settings.text }}</p><a>
                    </div>
                  </div>
                </div>
            {% endfor %}

            </div>
        </div>
      </div>
    </div>
  </section>

{% schema %}
{
    "name": "popular",
    "settings": [
    {
        "type": "text",
        "id": "popular_title",
        "label": "Title",
        "default": "Most Popular"
    },
    {
        "type": "image_picker",
        "id": "disable-left-arrow",
        "label": "Disable left arrow image"
    },
    {
        "type": "image_picker",
        "id": "active-left-arrow",
        "label": "Active left arrow image"
    },
    {
        "type": "image_picker",
        "id": "disable-right-arrow",
        "label": "Disable right arrow image"
    },
    {
        "type": "image_picker",
        "id": "active-right-arrow",
        "label": "Active right arrow image"
    }
    ],
    "blocks": [
        {
        "name": "Popular",
        "type": "popular",
        "settings": [
            {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
            },
            {
                "type": "text",
                "id": "title",
                "label": "Title"
            },
            {
                "type": "color",
                "id": "title_color",
                "label": "Title color",
                "default": "#121212"
            },
            {
                "type": "text",
                "id": "text",
                "label": "Text"
            },
            {
                "type": "color",
                "id": "text_color",
                "label": "Text color",
                "default": "#121212"
            },
            {
              "type": "text",
              "id": "button_text",
              "label": "Button text",
              "default": "SHOP NOW"
            },
            {
                "type": "text",
                "id": "button_link",
                "label": "Button link",
                "default": "/"
            },
            {
                "type": "color_background",
                "id": "button_background_color",
                "label": "Button background color",
                "default": "#E9292F"
            },
            {
                "type": "color_background",
                "id": "button_hover_background_color",
                "label": "Button hover background color",
                "default": "#ce3338"
            }
        ]
        }
    ],
    "presets": [
        {
            "category": "popular",
            "name":"popular"
        }
    ]

}
{% endschema %}